*.swp
*~
.DS_Store
Thumbs.db
.project
.svn
/.apm/
.npm
.node-gyp
blob-store
/compile-cache/
/storage/
packages
.nvm-version
node_modules
npm-debug.log
debug.log
/tags
/atom-shell/
/electron/
docs/output
docs/includes
spec/fixtures/evil-files/
