"*":
  "exception-reporting":
    userId: "b490187f-723f-57cf-7460-5968fab409f0"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    fontSize: 15
  "atom-beautify":
    _analyticsUserId: "dde5b926-faa8-4374-b470-d153a6a4e049"
  minimap:
    displayMinimapOnLeft: true
    absoluteMode: true
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "one-dark-ui": {}
